[includeIf "gitdir:hacking/"]
    path = .gitconfig-github
[includeIf "gitdir:blogs/"]
    path = .gitconfig-github
[includeIf "gitdir:Documents/Talks/"]
    path = .gitconfig-github
[includeIf "gitdir:.vim/"]
    path = .gitconfig-github
[includeIf "gitdir:work/"]
  path = .gitconfig-suse
[includeIf "gitdir:Documents/linux-next"]
  path = .gitconfig-kernel
[color]
	ui = auto
[init]
	defaultBranch = main
[user]
  name = "Paolo Perego"
  email = paolo.perego@suse.com
