*.sw?
vim/.netrwhist
getmail/.config/getmail/.getmail.log
getmail/.config/getmail/oldmail-imap.suse.de-993-pperego@mail-INBOX
getmail/.config/getmail/oldmail-imap.suse.de-993-pperego@mail-INBOX.Spam
systemd/.config/systemd/user/default.target.wants/
tmux/.config/tmux/plugins/
tags
